.Detail {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.Detail .Detail-search h3 {
  color: #666;
  font-size: 28px;
  font-weight: 400;
}
.Detail .Detail-search li {
  font-size: 16px;
  padding: 8px 0;
  list-style: none;
}
.Detail .Detail-search li a {
  cursor: pointer;
}
.Detail .Detail-data h3 {
  height: 50px;
  margin: 40px 0;
  color: #36c;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
}
.Detail .Detail-data h3 span {
  padding: 5px 10px;
  margin-right: 20px;
  border: 1px solid;
  border-radius: 10px;
  color: #666;
  background-color: #ddd;
}
.Detail .Detail-data table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}
.Detail .Detail-data table li {
  padding: 10px;
  list-style: circle;
}
.Detail .Detail-data th,
.Detail .Detail-data td {
  padding: 20px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 18px;
  text-align: left;
}
.Detail .Detail-data th {
  width: 20%;
}
.Detail .Detail-data td {
  width: 80%;
}
.Detail .Detail-data td p {
  line-height: 2;
}
.Detail .Detail-intro {
  margin-top: 40px;
  padding: 40px;
  border-top: 6px double #ccc;
}
.Detail .Detail-intro p {
  padding: 5px 0;
}
