.Detail
  width: 1000px
  margin: 0 auto
  padding: 10px

  .Detail-search
    h3
      color: #666
      font-size: 28px
      font-weight: 400

    li
      font-size: 16px
      padding: 8px 0
      list-style: none

      a
        cursor: pointer;

  .Detail-data
    h3
      height: 50px
      margin: 40px 0
      color: #36c
      font-size: 28px
      font-weight: 400
      line-height: 50px

      span
        padding: 5px 10px
        margin-right: 20px
        border 1px solid
        border-radius 10px
        color: #666
        background-color: #ddd

    table
      width: 100%
      margin-top: 50px
      border-collapse: collapse

      li
        padding: 10px
        list-style: circle

    th, td
      padding: 20px
      border: 1px solid #ccc
      color: #333
      font-size: 18px
      text-align: left

    th
      width: 20%

    td
      width: 80%

  .Detail-intro
    margin-top: 40px
    padding: 40px
    border-top: 6px double #ccc

    p
      padding: 5px 0
