html, body
  padding: 0
  margin: 0
  background-color: #eee
  font: 14px/20px "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Segoe UI", Tahoma, sans-serif;

p
  padding: 0
  margin: 0

a
  border-bottom: 1px solid
  border-color: transparent
  color: #36c
  text-decoration: none
  transition: border-color .2s

  &:hover, &:focus, &:active
    border-color: #36c

  &:visted
    color: #69f



