.Suggest
  input
    position: relative
    width: 590px
    height: 50px
    padding: 0 10px
    border: 1px solid #69f
    border-right: none;
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    font: 14px/20px "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Segoe UI", Tahoma, sans-serif;
    font-size: 18px
    box-sizing: border-box
    vertical-align: top
    z-index: 2

    &:focus
      box-shadow: 0 0 4px #9cf
      outline: none

  ul
    position: relative
    top: -2px
    width: 650px
    padding: 2px 0 0 0
    margin: 0 auto
    border: 1px solid #999
    background-color: #fff
    box-sizing: border-box
    z-index: 1

  li
    padding: 10px
    font-size: 14px
    text-align: left
    list-style: none
    cursor: pointer
    transition background-color .2s

    &:hover
      background-color: #9cf

  .Suggest-input-container
    position: relative
    width: 650px
    margin: 0 auto

    a
      position: absolute
      right: 60px
      width: 28px
      height: 28px
      padding: 10px 5px
      border-bottom: none
      color: #ccc
      font-size: 30px
      font-weight: 700
      line-height: 28px
      z-index: 3
      transition: color .2s

      &:hover
        color: #c66

    button
      position: relative
      width: 60px
      height: 50px
      border: 1px solid #69f
      border-left: none
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      color: #333
      font-size: 20px
      font-weight: 700
      line-height: 50px
      background-color: #9cf
      box-sizing: border-box
      vertical-align: top
      cursor: pointer
      outline: none
      z-index: 3
      transition: background-color .2s

      &:hover
        background-color: #cef

      &:active
        background-color: #9cf

